:root {
  --color-primary: #7C3AED;
  --bg: #F8F5F2;
  --text-color: #1F2937;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--bg);
}

body.no-margin {
  margin: 0;
}

h1 {
    color: var(--color-primary);
    font-weight: 400;
}

h2, h3, h4, h5 {
    color: var(--text-color);
    font-weight: 400;
}

.quoi {
    font-weight: 700;
}

button {
    border-radius: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--text-color);
    background-color: white;
    border: var(--text-color) 1px solid;
    padding: 4px 16px 5px 14px;
    font-size: large;
    display: flex;
    align-items: center;
    gap: 8px;
}